<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <meta charset="UTF-8">
  <title>MY APP</title>
</head>
<body>
  <h2>home page</h2>

  Task Name<input type = 'text' id = 'taskname'/>
  Date of Task<input type = 'date' id='date'/>
  Time<input type='time' id='time'/>
  Email Notification<select id="emailNotify"> <option value="off">off</option> <option value="on">on</option></select>
  Text Notification<select id="textNotify"/> <option value="off">off</option> <option value="on">on</option></select>
  Phone Number<input type = 'text' id='phone'/>
  <input type = 'button' id='addTask' value = 'Add task'/>
  <div id = 'tasks'></div>

  <br>
  Current Tasks:
  <ul class="tasks">
  <% for(var i=0; i<tasks.length; i++) {%>
    <li class="task">
      <span><%= tasks[i].taskname %></span>
      <span><%= tasks[i].date %></span>
      <span><%= tasks[i].time %></span>
    </li>
  <% } %>
  </ul>

</body>
 <script>
    $(document).ready(function() {

          $("#addTask").click (function () {
            $taskname = $("#taskname").val()
            $date = $("#date").val()
            $idate = $date.split('-')
            $newdate = new Date($idate[0]+"/"+$idate[1]+"/"+$idate[2])
            $newdate.setHours(0,0,0,0)
            $time = $("#time").val()
            $emailNotify = $("#emailNotify").val()
            $textNotify = $("#textNotify").val()
            $phone = $("#phone").val()
            $.post("/addTask", {taskname: $taskname, date: $newdate, time: $time, emailNotify: $emailNotify, textNotify: $textNotify, phone: $phone}).done(
              function(data,status) {
                 window.location.replace("/index")
              });
            });

        }); // end of document ready function
    </script>

</html>